<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    {% if flash_message %} 
    {{ing_list}}
    <script>
        let ing_list = "{{ing_list}}";
        int_list = list(ing_list);
        ing_list = JSON.parse(ing_list)
        console.log(ing_list, typeof(ing_list))
        console.log("ing", ing_list)
        function YourFunction() {
            inven_list = localStorage.getItem("inventory");
            if (inven_list == null) {
                inven_list = [];
            }
            console.log("firstinven", typeof(inven_list))
            inven_list.push(...ing_list)
            console.log("concat inven", inven_list)
            localStorage.setItem("inventory", inven_list);
        }

        YourFunction();
    </script>
    {% endif %}

    <header>
        <div class="app-name">Recipe App</div>
        <nav>
            <ul class="nav-links">
                <li class="link-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="link-item"><a href="{{ url_for('recipe') }}">Recipe</a></li>
                <li class="link-item"><a href="{{ url_for('inventory') }}">Inventory</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="pantry">
            <h2>Pantry</h2>
            <p>Number of Food Ingredients: {{ ingredients|length }}</p> {# Display the count of food ingredients #}
            <form action="/add_ingredient" method="POST" class="add-button">
                <input type="text" id="newIngredient" name="newIngredient" placeholder="Add New Ingredient">
                <input type="number" id="quantity" name="quantity" placeholder="Quantity">
                <input type="number" id="expiration" name="expiration" placeholder="expiration">
                <button type="submit" style="font-size: large;">+</button>
            </form>
        </div>

        <div class="box">
            <h3>Food Ingredients</h3>
            <div class="ing-headers">
                <div>Name</div>
                <div>Quantity</div>
                <div>Expiration</div>
                <div>Selection</div>
            </div>
            <form action="/add_to_inventory" method="POST">
                {% for ingredient in ingredients %}
                    {% if ingredient[1] < 3 or ingredient[2] < 3%}
                        <!-- <label for="{{ ingredient }}" style="background-color: rgb(230, 39, 39);"> -->
                            <div class="ing-container" style="background-color: rgb(248, 104, 104);">
                                <div>{{ingredient[0]}}</div>
                                <div>{{ingredient[1]}}</div>
                                <div>{{ingredient[2]}}</div>
                                <input type="checkbox" id="{{ ingredient }}" name="ingredient" value="{{ ingredient }}">
                            </div>
                        <!-- </label><br> -->
                    {% else %}
                    <div class="ing-container" style="background-color: rgb(124, 248, 124);">
                        <div>{{ingredient[0]}}</div>
                        <div>{{ingredient[1]}}</div>
                        <div>{{ingredient[2]}}</div>
                        <input type="checkbox" id="{{ ingredient }}" name="ingredient" value="{{ ingredient }}">
                    </div>
                    {% endif %}                    
                {% endfor %}
                <br>
                <button type="submit">Add to Ingredient</button>
            </form>
        </div>
        
        <div class="box">
            {% if inventory %}
                <h3>Current Inventory</h3>
                <ul>
                    {% for item, quantity in inventory.items() %}
                        <li>{{ item }}: {{ quantity }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>  
</body>
</html>
