<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe app</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>
    <header>
        <div class="app-name">Recipe App</div>
        <nav>
            <ul class="nav-links">
                <li class="link-item"><a href="{{ url_for('index') }}">Home</a></li>
                <li class="link-item"><a href="{{ url_for('recipe') }}">Recipe</a></li>
                <li class="link-item"><a href="{{ url_for('inventory') }}">Inventory</a></li>
            </ul>
        </nav>
    </header>

    <form id="ingredient-form" action="{{url_for('recipe')}}", method="post">
        <label for="ingredient" style="color: rgb(81, 214, 29);">Enter ingredients:</label>
        <input type="text" id="ingredient" name="ingredient">
        <input type="submit" value="Submit">
    </form>

    <section class="details-section">
        <div class="details">
            {% if recipe != "" %}
                {% for key, value in recipe[0].items() %}
                    <div class="item-name">
                        {{key}}
                    </div>
                    <div class="key-heading">
                        {% if value != "" %}
                            <div class="step-container">
                                <span class="recipe-header">
                                    Recipe
                                </span>
                                <ol class="step-list">
                                    {% for step in value.steps %}
                                            <li class="step-item">
                                                {{step}}
                                            </li>
                                    {% endfor %}
                                </ol>
                            </div>
                            <div class="used-unused">
                                <div class="used">
                                    <div class="used-header">
                                        Available ingredients
                                    </div>
                                    {% for used_ing in value.used %}
                                        <div class="used-items">
                                            {{used_ing}}
                                        </div>
                                    {% endfor %}
                                </div>
                    
                                <div class="unused">
                                    <div class="used-header">
                                        Missing ingredients
                                    </div>
                                    {% for unused_ing in value.unused %}
                                        <div class="used-items">
                                            {{unused_ing}}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="use-recipe">
                        <form action="/some", method="post">
                            <input type="text" id="hidden-recipe" name="hidden-recipe" value="{{recipe[1]}}" style="display: none;">
                            <button class="use-recipe-button" type="submit">Use Recipe</button>
                        </form>
                    </div>

                {% endfor %}
            {% endif %}
        </div>
    </section>
</body>
</html>
