*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(175, 164, 164);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.app-name {
    font-size: 50px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    background-color: rgb(175, 164, 164);
}

ul a {
    text-decoration: none;
    color: blue;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.link-item {
    padding-right: 1rem;
}

.container {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}

.pantry {
    background-color: lightgreen;
    padding: 20px;
    width: 600px;
    /* margin-bottom: 5rem; */
    border-radius: 10px 10px 0 0;
}

form {
    width: 100%;

    /* text-align: center; */
}

.box {
    background-color: white;
    border-radius: 10px;
    /* padding: 10px; */
    margin-top: 5rem;
    text-align: left;
}

.left {
    text-align: left;
}

.add-button {
    float: left;
    margin-top: 20px;
}

.details-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center;
    justify-self: center; */
    /* text-align: center;
    align-items: center;
    height: 300px;
    width: 1300px; */
    margin-top: 2rem;
}

.item-name {
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.details{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */


    /* overflow: hidden; */
    /* align-items: center;
    margin-top: 1rem; */
}

.key-heading {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    justify-content: space-around;
    align-items: center;
    /* width: 90%; */
    background-color: lightblue;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1rem;
    /* margin-left: 1rem; */
    height: 300px;
    overflow: scroll;
}

.recipe-header {
    font-size: 20px;
    font-weight: bold;
}

.step-container {
    font-weight: normal;
    text-align: left;
    width: 50%;
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 16px;
    height: 300px;
}

.used-unused {
    width: 50%;
    height: 300px;
    /* overflow: scroll; */
}

.used {
    background-color: lightgreen;
    margin: 1rem;
}

.used-header {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.used-items {
    /* margin: 1rem; */
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    /* padding: 1rem; */
}

.unused {
    background-color: lightcoral;
    margin: 1rem;
}

.step-list {
    padding: 2rem;
}

.step-item {
    margin-bottom: 0.8rem;
}

.use-recipe {
    margin-bottom: 2rem;
    text-align: right;
    margin-right: 2rem;
}

.use-recipe button {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 20px;
}

form {
    text-align: center;
}